<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>603752398104-lqdjsj2f8kpvk6k9pplbvstji4ipsd03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603752398104-lqdjsj2f8kpvk6k9pplbvstji4ipsd03</string>
	<key>API_KEY</key>
	<string>AIzaSyDinKChQWphkj7i5Pe1oFWe6cv2lppJK1g</string>
	<key>GCM_SENDER_ID</key>
	<string>603752398104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arc.FCPSAlert.FCPS-Alert</string>
	<key>PROJECT_ID</key>
	<string>fcps-alerts</string>
	<key>STORAGE_BUCKET</key>
	<string>fcps-alerts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:603752398104:ios:e74202397775acfb</string>
	<key>DATABASE_URL</key>
	<string>https://fcps-alerts.firebaseio.com</string>
</dict>
</plist>
